node_modules
.env    
.env.local
.env.development
.env.production
.env.test
.env.test.local
.env.test.local.backup
.env.test.local.backup.2
.env.test.local.backup.3
.env.test.local.backup.4
.env.test.local.backup.5
.env.test.local.backup.6

.DS_Store
.idea
.vscode
.history
.history
.history.backup
.history.backup.2
.history.backup.3
.history.backup.4
.history.backup.5
.history.backup.6
.history.backup.7
.history.backup.8
.history.backup.9
.history.backup.10

bun.lockb

